@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bold;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    padding: 20px;
    width: 400px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}


#vibe-selector {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
    margin: auto;
    /* border: 1px solid lightgray; */
}

.vibe {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 4px auto;
    height: 80px;
    width: 90%;
    max-width: 375px;
    background-color: rgba(176, 196, 222, .6);
    grid-template: 30% 70% / 25% 25% 50%;
    grid-template-areas: 'icon play volume'
                         'icon play volume';
    border-radius: 23px;
    cursor: pointer;

    .iconContainer {
        grid-area: icon;
        max-height: 100%;
        @include flex-col-center;
        img {
            @include flex-col-center;
            max-height: 80%;
            height: 60%;
            width: auto;
            font-size: 10px;
        }
    }
    .titleContainer {
        grid-area: title;
        @include flex-center;
        justify-content: flex-start;
        font-size: 15px;
    }

    .playPauseContainer {
        grid-area: play;
        @include flex-center;
        .playPause {
            @include flex-center;
            margin: auto;
        }
    }

    .volumeContainer {
        @include flex-col-center;
        grid-area: volume;
        h3 {
            font-size: 10px;
        }
        input[type=range] {
            -webkit-appearance: none;
            height: 20px;
            background: rgba(216, 224, 235, 0.8);
            border-radius: 20px;
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 16px;
                width: 16px;
                background: rgba(147, 157, 168, 0.8);
                border-radius: 20px;
                z-index: 2;
            }
        }
    }
    
}