#sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    padding: 20px;
    width: 400px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}


#vibe-selector {
    display: flex;
    flex-wrap: wrap;
    padding: auto;
    justify-content: center;
    margin: auto;
    /* border: 1px solid lightgray; */
    width: 60%;
}

.vibe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 80px;
    width: 250px;
    background-color: rgba(176, 196, 222, .8);
    border-radius: 15px;
    cursor: pointer;
}

.vibe:hover {
    background-color: rgb(176, 196, 222, .6);
}